.cursor-pointer {
  cursor: pointer;
}

.fs-smaller {
  font-size: smaller;
}

.cancel-container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

#inventory-modal .modal-body {
  height: 450px;
  overflow: scroll;
}

.contenteditable {
  color: #858796;
  padding: 0.75rem;
  border: none;
  width: 100%;
}

.p-75 {
  padding: 0.75rem;
}

[v-cloak] {
  display: none;
}

div.dataTables_wrapper div.dataTables_length select {
  width: auto;
  display: inline-block;
}

.custom-select-sm {
  height: calc(1.5em + 0.5rem + 2px);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: 0.875rem;
}

.custom-select {
  display: inline-block;
  width: 100%;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #d1d3e2;
  border-radius: 0.35rem;
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
}

.fs-8 {
  font-size: 0.875rem;
}

.form-control-sm {
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.hover-underline:hover {
  text-decoration: underline;
}
/* Inventory modal */
.divider {
  margin: 20px 0px 10px 0px;
}

.data-list {
  width: 100%;
  height: 300px;
  border: none;
  outline: none;
}

.data-list[option]:focus {
  background-color: #4e73df;
}

.data-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(195, 195, 195, 0.7);
  box-shadow: inset 0 0 6px rgba(195, 195, 195, 0.7);
  background-color: #fff;
}

.data-list::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
}

.data-list::-webkit-scrollbar-thumb {
  background-color: #171b24;
}

.data-item {
  border: 1px solid rgba(2, 2, 2, 0.3);
  width: calc(100% - 2px);
  margin: 2px 0px 3px 0px;
  padding: 10px 5px;
}

.bg-login-image {
  background: url("../../../public/img/pos.png") !important;
  background-position: center;
  background-size: cover;
}

.vue-suggestion .vs__input-group .vs__input {
  color: #858796 !important;
  padding: 0.75rem !important;
  border: none !important;
  width: 100%;
}

.vue-suggestion .vs__list {
  width: 100%;
  text-align: left;
  border: none;
  border-top: none;
  max-height: 400px;
  overflow-y: auto;
  border-bottom: 1px solid #023d7b;
  position: relative;
  z-index: 1;
}
.vue-suggestion .vs__list .vs__list-item {
  background-color: #fff;
  padding: 10px;
  border-left: 1px solid #023d7b;
  border-right: 1px solid #023d7b;
}
.vue-suggestion .vs__list .vs__list-item:last-child {
  border-bottom: none;
}
.vue-suggestion .vs__list .vs__list-item:hover {
  background-color: #eee !important;
}
.vue-suggestion .vs__list,
.vue-suggestion .vs__loading {
  position: absolute;
}
.vue-suggestion .vs__list .vs__list-item {
  cursor: pointer;
}
.vue-suggestion .vs__list .vs__list-item.vs__item-active {
  background-color: #f3f6fa;
}
